* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

body {
  background-color: #eaeaea;
}

.bosh_boss {
  background-color: #eaeaea;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  left: 0px;
  z-index: 1000;
  -webkit-box-shadow: 0 0 20px gray;
          box-shadow: 0 0 20px gray;
}

.ottnb34 {
  display: inline-block;
}

.manu {
  display: inline-block;
  word-spacing: 28px;
  padding: 58px;
}

.ggh {
  display: inline-block;
  color: #494949;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  word-spacing: 6px;
}

.ggh:hover {
  color: red;
}

.mmnnm {
  max-width: 1083px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dssd {
  padding-top: 30px;
  height: 78px;
}

.rasm {
  background: url(../img/pizza-in-hazel-park-michigan.png) center/cover no-repeat;
  height: 770px;
}

.rasm .color {
  background-color: #000;
  opacity: 0.8;
  height: 770px;
  width: 100%;
  z-index: 33;
}

.rasm .color .max {
  max-width: 1200px;
  margin: 0 auto;
}

.rasm .color .max .pizza {
  margin-right: 30px;
  display: inline-block;
}

.yozuv {
  text-align: left;
  max-width: 579px;
}

.sarlavha {
  padding-top: 200px;
  font-family: sans-serif;
  color: white;
  font-size: 50px;
  line-height: 60px;
}

.yoz {
  max-width: 580px;
  color: white;
  font-size: 25px;
  line-height: 30px;
  margin-top: 40px;
  display: inline-block;
}

.read_more {
  text-align: center;
  display: inline-block;
  color: white;
  border: 1px solid white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding: 10px;
  max-width: 200px;
  margin: 0 auto;
}

.read_more:hover {
  background-color: red;
  opacity: 1;
}

.read_more :active {
  background-color: #ee262d;
  display: block;
}

.mar,
.pizza {
  vertical-align: middle;
}

.mar {
  background: url(../img/pizza-1-1.png) right/top no-repeat;
  height: 200px;
}

.top {
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
}

.gf {
  color: #282828;
  font-size: 45px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 126px;
}

.saas {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #959595;
  font-size: 17px;
  margin-top: 20px;
}

.jam {
  margin-top: 40px;
  word-spacing: 40px;
}

.tort {
  color: #494848;
  font-size: 18px;
  word-spacing: 10px;
  text-transform: uppercase;
  border-right: 1px solid #494848;
  padding-left: 10px;
}

.tortt {
  color: #494848;
  font-size: 18px;
  word-spacing: 10px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.tortburchak {
  margin-top: 60px;
}

.oq {
  background-color: #fff;
  max-width: 1171px;
  margin: 0 auto;
  text-align: center;
  -webkit-box-shadow: 0 0 20px gray;
          box-shadow: 0 0 20px gray;
}

.bi {
  font-size: 120px;
  padding-top: 60px;
  color: #282828;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.creat {
  color: #282828;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 45px;
  margin-top: 20px;
}

.mash {
  margin-top: 20px;
  font-size: 31px;
  color: #282828;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  padding-bottom: 40px;
}

.tugma {
  color: white;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 80px;
  text-align: center;
}

.fff {
  color: #ee252d;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 40px;
  text-align: center;
  background-color: white;
  border: 1px solid #ee252d;
  font-size: 30px;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  -webkit-transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
  -o-transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}

.fff:hover {
  color: white;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 40px;
  text-align: center;
  background-color: #ee252d;
  font-size: 30px;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  -webkit-transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
  -o-transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}

.foot {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  background-color: #ee252d;
  color: white;
  font-size: 20px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.footer {
  background-color: #ee252d;
  padding: 30px;
  margin-top: 60px;
}

.gfdcb {
  font-size: 50px;
  color: #ee252d;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  width: 600px;
  margin: 0 auto;
  padding-bottom: 90px;
}

.vvghjk {
  color: #000;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  max-width: 900px;
  line-height: 25px;
  font-size: 20px;
  font-weight: 700;
  text-transform: inherit;
  margin: 0 auto;
}

.bg {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9999;
}

.bg.show {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal {
  max-width: 600px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  background-color: yellow;
  position: fixed;
  overflow: hidden;
  top: 0%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-100%);
  -ms-transform: translateX(-50%) translateY(-100%);
  transform: translateX(-50%) translateY(-100%);
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  z-index: 9999;
}

.modal.show {
  top: 15%;
  -webkit-transform: translateX(-50%) translateY(0%);
  -ms-transform: translateX(-50%) translateY(0%);
  transform: translateX(-50%) translateY(0%);
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.modal .title {
  background-color: crimson;
  color: #fff;
  font-size: 22px;
  padding: 10px 15px;
  text-align: center;
}

.modal .text {
  padding: 30px;
  font-size: 24px;
}

.modal .buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 10px 30px;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
}

.modal .close,
.modal .okay {
  padding: 10px 20px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  cursor: pointer;
  background-color: crimson;
  color: #fff;
  font-weight: bold;
}

.modal .okay {
  background-color: chartreuse;
}

.wrap {
  max-width: 1400px;
  margin: 0px auto;
  padding: 30px 0;
}

.wrap .container {
  padding: 0 30px;
}

.wrap .container .tabs-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.wrap .container .tabs {
  padding: 15px;
  cursor: pointer;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
}

.wrap .container .tabs:hover,
.wrap .container .tabs.active {
  background-color: #c3bfbf;
}

.wrap .container .tabs.active {
  border-top: 1px solid grey;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  border-bottom: 1px solid #c3bfbf;
}

.wrap .container .tab-body {
  padding: 20px;
  background-color: #c3bfbf;
  border: 1px solid grey;
  margin-top: -1px;
}

.wrap .container .item {
  display: none;
  line-height: 25px;
  font-weight: bold;
}

.wrap .container .item.active {
  display: block;
}

.wrap .container .open {
  cursor: pointer;
  padding: 10px 15px;
  display: inline-block;
  background-color: green;
  color: #fff;
  font-size: 26px;
  font-weight: bold;
  margin-top: 20px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.container {
  max-width: 1300px;
  margin: 30px auto;
}

.container #accordion {
  font-size: 28px;
}

.container .form {
  margin-bottom: 20px;
}

.container #myinput {
  font-size: 24px;
  padding: 15px;
  border: 2px solid black;
  font-weight: bold;
}

.container .mydate {
  margin: 20px 0;
}

.container .ref {
  padding: 15px 30px;
  font-size: 26px;
  font-weight: bold;
  background-color: crimson;
  color: #fff;
  text-transform: uppercase;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  display: inline-block;
  cursor: pointer;
  margin-bottom: 20px;
}

.container #tabs {
  margin-bottom: 20px;
}

#tabs {
  word-spacing: 6px;
  line-height: 30px;
  font-size: 20px;
}

/* Media style */
/* 1155px dan -1025px */
/* 1024px - 769px */
/* 426px - 768px  */
/* 375px - 425px  */
@media screen and (max-width: 425px) {
  .tort {
    font-size: 11px;
  }
  .tortt {
    font-size: 11px;
    padding-left: 10px;
  }
  .saas {
    line-height: 20px;
    font-size: 17px;
  }
  .mash {
    padding-bottom: 40px;
  }
  .gf {
    font-size: 30px;
  }
  .sarlavha {
    font-size: 30px;
    padding-top: 100px;
  }
  .rasm .color {
    height: 500px;
  }
  .tugma {
    margin-top: 40px;
  }
  .fff {
    font-size: 23px;
  }
  .foot {
    font-size: 17px;
  }
  .rasm {
    height: 500px;
  }
  .yozuv {
    margin-left: 10px;
  }
  .yoz {
    font-size: 20px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  }
}

/* 320px - 375px  */
/* 0px - 320px  */
/* Media style end */
